<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="subscriptionKey" value="YOUR_KEY"/>
    <add key="endpointRegion" value="https://northeurope.api.cognitive.microsoft.com/vision/v2.0/" />
    <add key="subscriptionKeyTTS" value="YOUR_KEY"/>
    <add key="endpointRegionTTS" value="https://westeurope.api.cognitive.microsoft.com/sts/v1.0/issueToken" />
    <add key="endpointHostTTS" value="https://westeurope.tts.speech.microsoft.com/cognitiveservices/v1" />
    <add key="documentLanguage" value="unk" />
    <add key="searchValues" value="Number,Field,Source" />
    <add key="searchValuesWidth" value="300" />
    <add key="isNewOCREnabled" value="true" />
  </appSettings>
</configuration>